.adventure{
    background-color: $blue1;
    padding: 3rem 2rem;

    &__infos{
        text-align: center;
        padding: 1rem;

    }

    &__category{
        
        margin-top: 2rem;
        
        @include breakpoint-up(medium){//> 640px
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
        }
    }

    &__item{
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: $blue0;
        border-radius: 10px;
        box-shadow: 0px 4px 12px rgba($color: #000000, $alpha: 0.15);

        @include breakpoint-down(small){
            margin-bottom: 2rem;
        }

        @include breakpoint-up(medium){
            //tablet
            flex: 1 0 50%;
            
            //flex grow/ shrink / basis= the default width
        }
        
        @include breakpoint-up(large){
            flex: 1;
        }
    }

    &__image{
        position: relative;
        width: 18rem;
        transform: translateY(-20%);

        img{
            border-radius: 50%;
            width: 100%;
            object-position: top;
            box-shadow: 0px 4px 12px rgba($color: #ff0000, $alpha: 0.15);
        }
    }

    &__title{
        color: $darkBlue;
        margin-bottom: 1rem;
        
    }

    &__description{
        font-size: 1em;
        font-weight: 500;
    
    }

}